.idea
.DS_Store

/node_modules

.vscode/*
.env
*/**/.env
*/**/.env.test
*/**/.DS_Store
*/**/dist
*/**/node_modules
*/**/data
*/**/reports

/data
/reports

# MySQL backups
*/**/mysql-backups
/data/mysql-backups

# PID files
*.pid