[build]
buildCommand = "./scripts/deployment/railway-server-build.sh"
watchPatterns = ["server/**","pnpm-lock.yaml"]

[source]
repo = "jayc13/my-dashboard"
branch = "main"
rootDirectory = ""

[deploy]
runtime = "V2"
numReplicas = 1
startCommand = "cd server && npm start"
healthcheckPath = "/health"
preDeployCommand = []
sleepApplication = false
useLegacyStacker = false
restartPolicyType = "ON_FAILURE"
healthcheckTimeout = 5000
restartPolicyMaxRetries = 3